{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="{% url 'admin:import-json' %}" class="addlink" style="background-color: #79aec8;">
            Import JSON File
        </a>
    </li>
    <li>
        <a href="{% url 'admin:export-json' %}" class="addlink" style="background-color: #79aec8;">
            Export JSON File
        </a>
    </li>
    <li>
        <a href="{% url 'admin:format-data' %}" class="addlink" style="background-color: #ba2121;">
            Format Data
        </a>
    </li>
    <li>
        <a href="{% url 'admin:clean-data' %}" class="addlink" style="background-color:rgb(33, 186, 145);">
            Clean Data
        </a>
    </li>
{% endblock %} 