{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    <li>
        
        {% comment %} <a href="/admin/posts/post/import-json/" class="addlink" style="background-color: #79aec8;"> {% endcomment %}
        <a href="import-json" class="addlink" style="background-color: #79aec8;">
            Import JSON
        </a>
    </li>
    <li>
        {% comment %} <a href="/admin/posts/post/export-json/" class="addlink" style="background-color: #79aec8;"> {% endcomment %}
        <a href="export-json"  class="addlink" style="background-color: #79aec8;">    
            Export JSON
        </a>
    </li>
    <li>
        {% comment %} <a href="/admin/posts/post/format-data/" class="addlink" style="background-color: #79aec8;"> {% endcomment %}
            <a href="format-data" class="addlink" style="background-color: #79aec8;">
            Format
        </a>
    </li>
    <li>
        <a href="clean-data" class="addlink" style="background-color: #79aec8;">
            Clean Data
        </a>
    </li>
{% endblock %} 